models/deep_ensemble
models/deterministic_uq
models/embedded_dropout
models/embedded_dropout_full_bayes
models/injected_dropout
models/pretrained_baselines

models/deep_ensemble/*
models/deterministic_uq/*
models/embedded_dropout/*
models/embedded_dropout_full_bayes/*
models/injected_dropout/*
models/pretrained_baselines/*

experiments/*
datasets/*
bash_scripts/*

__pycache__
attacks/__pycache__
models/__pycache__
utils/__pycache__
/.idea
